#root {
  width: 35%;
  margin: 0 auto;
  padding: 2rem;
  /* justify-content: center; */
  /* padding-left: 500px; */
  background-color: green;
  color: wheat;
}
body {
  padding: 20px;
  margin-bottom: 10px;
}
button {
  margin-top: 10px;
  margin-bottom: 10px;
}
.Container {
  background-color: rgb(108, 165, 42);
  border-radius: 40px;
  padding: 10px;
}
/*
.containe {
  display: flex; */
/* flex-direction: column;
  min-height: 100vh;
  background-color: green;
}

.form-section,
.table-section {
  padding: 1rem;
}

.table-section {
  background: white;
  color: black;
  overflow-x: auto;
} 
*/

@media (min-width: 768px) {
  .containe {
    flex-direction: row;
  }
  .form-section {
    width: 60%;
  }
  .table-section {
    width: 40%;
  }
}

/* input,
select,
button {
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
} */
